html {
    box-sizing: border-box;
    height: 100%;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

:root {
    --main-background-color: #222831;
}

body {
    height: 300vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1.3fr 0.8fr 1fr 1.2fr;
    background-color: var(--main-background-color);
    color: white;
}


.navbar {
    display: flex;
    justify-content: flex-end;
}

.nav-item-list {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nickname {
    font-size: 4rem;
    letter-spacing: 1ch;
}


.section {
    align-items: center;
    padding: 4rem;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    flex:1;
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 15px;
}

.tech-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    max-width: 250px;
    border-radius: 5px;
}

.tech-logo {
    width: 100px;
    flex: 1;
}

.tech-name {
    font-size: 1rem ;
}

.section-name {
    font-size: 2rem;
    align-self: flex-start;
    margin-bottom: 10px;
}


.projects-container {
    padding: 5px;
    width: 100%;
}

.project-card {
    border: 1px solid black;
    display: flex;
    padding: 5px;
    margin: 10px 0;
    border-radius: 6px;
}

.project-img-container {
    height: 100px;
    width: 200px;
    border: 1px solid black;
}