html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior:smooth;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

:root {
    --main-background-color: #222831;
}

body {
    height: 286vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 1fr 1fr;
    background-color: var(--main-background-color);
    color: white;
    font-family: "Montserrat";
}


.navbar {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

.nav-item-list {
    width: 50%;
    list-style: none;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.link:hover {
    background-color:#394049 ;
}


.link-clicked {
    border-bottom: 2px solid white;
}

.link-underline {
    text-decoration: underline;
    color: white;
}

#welcome {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas: "name"
    "skills";
}



.name-container {
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.name {
    font-weight: 100;
    font-size: 4.5rem;
    letter-spacing: 0.5ch;
    font-family:Montserrat;
}

.cv-button {
    transition: transform .2s;
    border: 0;
    padding: 8px 10px;
    border-radius: 7px;
    background-color: #394049;    
    color: white;
}

.cv-button:hover {
    transform: scale(1.1);
    background-color: white;
    color: #222831;
    cursor: pointer;
}

.skills-container {
    grid-area: skills;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.skill-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: auto;
    transition: transform .2s;
    width: 60px;
    flex: 1;
    cursor: pointer;
}


.logo:hover {
    transform: scale(1.1);
}

.js-logo {
    padding: 5px;
}


.section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    flex:1;
    max-width: 980px;
    padding: 6px;
}
.section-name {
    font-size: 2rem;
    align-self: flex-start;
    margin-bottom: 10px;
    font-weight: 300;
}

.about-text {
    font-size: 1.6rem;
    padding: 10px;
    font-weight: 200;
}

.projects-container {
    padding: 5px 10px;
    width: 100%;
    max-height: 380px;
    border: 1px solid black;
    overflow-y: auto;
    border-radius: 6px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color:#222831;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #394049;
    width: 10px;
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

.project-card {
    border: 1px solid black;
    display: flex;
    padding: 5px;
    margin: 10px 0;
    border-radius: 6px;
}

.project-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    border: 1px solid black;
    border-radius: 6px;
    
}

.project-img {
    width: 50px;
}

.text-projects-container {
    flex: 1;
    padding: 10px 20px;
}

.project-name {
    font-size: 1rem;
}

.project-description {
    font-size: 0.9rem;
}

.links-project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}



.project-link {
    width: 30px;
    cursor: pointer;
}

.arrow-up {
    position:fixed;
    bottom: 20px;
    right: 15px;
    opacity: 0;
    cursor:none;
}